
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>İstatislikler</h1>
<br />
<h2>Toplam mesaj sayısı: @ViewBag.v1</h2>
<br />
<h2>Okunmamış Projesi: @ViewBag.v2</h2>
<br />
<h2>Okunmamış Mesaj sayısı: @ViewBag.v3</h2>
<br />
<h2>Okunmamış Mesaj sayısı: @ViewBag.v4</h2>
