<section id="contact">

    <div class="container">

        <h2 class="section-title wow fadeInUp">Bana Yazın</h2>

        <div class="spacer" data-height="60"></div>

        <div class="row">

            <div class="col-md-4">
                <div class="contact-info">
                    <h3 class="wow fadeInUp">Her konuda konuşabiliriz!</h3>
                    <p class="wow fadeInUp">Form doldurmak istemezsen bana e-posta atabilirsin: <a href="mailto:seninmailin@gmail.com">sametunv@gmail.com</a> 👋</p>
                </div>
            </div>

            <div class="col-md-8">
                <form class="contact-form mt-6" method="post" action="/Default/SendMessage">

                    <div class="messages"></div>

                    <div class="row">
                        <div class="column col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Name" placeholder="Adınız Soyadınız" required="required">
                            </div>
                        </div>

                        <div class="column col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="Email" placeholder="Email Adresiniz" required="required">
                            </div>
                        </div>

                        <div class="column col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Subject" placeholder="Konu" required="required">
                            </div>
                        </div>

                        <div class="column col-md-12">
                            <div class="form-group">
                                <textarea name="Message" class="form-control" rows="5" placeholder="Mesajınız..." required="required"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Mesajı Gönder</button>

                </form>
            </div>

        </div>

    </div>

</section>

<div class="spacer" data-height="96"></div>